@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: "Poppins", sans-serif; }

main {
  margin-top: 150px; }

body main .h1 {
  font-size: 6.25rem;
  font-weight: 700;
  color: #BED3CA;
  margin-left: 135px;
  margin-top: 40px; }

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 135px;
  margin-bottom: 20px;
  margin-top: 90px; }

h5 {
  font-size: .8125rem;
  font-weight: normal;
  letter-spacing: 2px;
  color: #BED3CA; }

.container_index--decorate {
  margin-top: 120px;
  margin-bottom: 170px;
  display: grid;
  grid-template-columns: repeat(10, 117.1px);
  grid-template-rows: repeat(4, 200px);
  align-items: center;
  justify-content: center; }

.cajaDecorate {
  background-color: #3C4541;
  width: 467px;
  height: 353px;
  padding-left: 52px;
  padding-top: 90px;
  padding-right: 100px;
  order: 3;
  grid-row: 2/4; }
  .cajaDecorate h2 {
    padding-bottom: 20px; }

.imagenPrincipal {
  width: 730px;
  height: auto;
  grid-column-start: 4;
  grid-row: 1/5;
  order: 1; }

.boxDecorate {
  background-color: transparent;
  border: 2px solid #000000;
  width: 941px;
  height: 551px;
  margin-top: 50px;
  grid-column: 3/11;
  grid-row: 1/6;
  order: 2; }

.container_index--explorate {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 296px);
  grid-template-rows: repeat(2, 296px);
  column-gap: 28px;
  row-gap: 28px;
  align-items: center;
  justify-content: center;
  margin-bottom: 170px; }

.cajaExplorate {
  background-color: #3C4541;
  color: white;
  text-align: center;
  padding: 36px 100px;
  width: 569px;
  height: 267px;
  order: 2;
  grid-column: 2/4;
  grid-row: 1/3; }

.imagenes-explorate-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  order: 1; }

.imagenes-explorate-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  order: 1; }

.imagenes-explorate-3 {
  grid-column: 3/4;
  grid-row: 1/2;
  order: 1; }

.imagenes-explorate-4 {
  grid-column: 4/5;
  grid-row: 1/2;
  order: 1; }

.imagenes-explorate-5 {
  grid-column: 1/2;
  grid-row: 2/3;
  order: 1; }

.imagenes-explorate-6 {
  grid-column: 2/3;
  grid-row: 2/3;
  order: 1; }

.imagenes-explorate-7 {
  grid-column: 3/4;
  grid-row: 2/3;
  order: 1; }

.imagenes-explorate-8 {
  grid-column: 4/5;
  grid-row: 2/3;
  order: 1; }

.container_index--inspirate {
  display: grid;
  grid-template-columns: 135px 300px 129px 300px 129px 300px 135px;
  grid-template-rows: repeat(4, 200px);
  align-items: center;
  justify-content: center;
  margin-top: 114px;
  margin-bottom: 170px; }

.cajaInspirate {
  background-color: #3C4541;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding: 30px 85px;
  width: 559px;
  height: 270px;
  grid-row: 3/5;
  grid-column: 3/7;
  order: 4; }

.imagenNordico {
  background-color: #f2f2f2;
  width: 300px;
  height: 300px;
  grid-column: 2/3;
  grid-row-start: 2;
  order: 3;
  align-items: center;
  margin-bottom: 80px; }
  .imagenNordico img {
    width: auto;
    height: auto; }
  .imagenNordico h4 {
    text-align: center;
    font-size: 1rem; }

.imagenVintage {
  background-color: #f2f2f2;
  width: 300px;
  height: 300px;
  grid-column: 4/5;
  grid-row-start: 2;
  order: 3;
  align-items: center;
  margin-bottom: 80px; }
  .imagenVintage img {
    width: 268px;
    height: auto;
    padding-left: 20px;
    padding-bottom: 20px; }
  .imagenVintage h4 {
    text-align: center;
    font-size: 1rem; }

.imagenClasico {
  background-color: #f2f2f2;
  width: 300px;
  height: 300px;
  grid-column: 6/7;
  grid-row-start: 2;
  order: 3;
  align-items: center;
  margin-bottom: 80px;
  margin-left: 20px; }
  .imagenClasico img {
    padding-top: 20px;
    padding-left: 20px;
    width: auto;
    height: auto; }
  .imagenClasico h4 {
    text-align: center;
    font-size: 1rem; }

.boxInspirate {
  background-color: transparent;
  border: 2px solid #000000;
  width: 1428px;
  height: 551px;
  grid-column: 1/8;
  grid-row: 1/4;
  order: 2; }

.box-verde-inspirate {
  width: 1160px;
  height: 400px;
  background-color: #BED3CA;
  grid-column: 2/7;
  grid-row: 2/4;
  order: 1; }

/* contenedor 4 descubrete */
.container_index--descubrete {
  display: grid;
  grid-template-columns: repeat(9, 150px);
  grid-template-rows: repeat(4, 150px);
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 300px; }

.cajaDescubrete {
  background-color: #3C4541;
  width: 467px;
  height: 353px;
  padding-left: 45px;
  padding-top: 70px;
  padding-right: 100px;
  text-align: left;
  color: #ffffff;
  order: 3;
  grid-row-start: 2; }

.imagenDescubrete {
  grid-column-start: 4;
  grid-row-start: 2;
  order: 2; }

.box-verde-descubrete {
  width: 898px;
  height: 560px;
  background-color: #BED3CA;
  order: 1;
  grid-column-start: 3; }

/* estilos texto del index */
.subtitulosInicio {
  font-size: 3.75rem;
  font-weight: 600;
  color: #ffffff; }

.detallesInicioInspi {
  font-size: 1rem;
  font-weight: 500;
  color: white; }

.enlaceDetallesInicioInspi {
  font-size: .875rem;
  font-weight: normal;
  text-decoration: underline;
  color: #ffffff;
  padding-top: 10px; }

.titulosImagenes {
  font-size: 1.25rem;
  font-weight: 500; }

.colorTe {
  font-size: 3.75rem;
  color: #BED3CA; }

.seccionExplorar {
  margin: 90px 0px; }
  .seccionExplorar h3 {
    margin-left: 135px; }

.contenedorModas {
  margin-top: 1.6875rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(4, 525px);
  grid-template-areas: "cards-modas-1 cards-modas-2 cards-modas-3" "cards-modas-4 cards-modas-5 cards-modas-6" "cards-modas-7 cards-modas-8 cards-modas-9" "cards-modas-10 cards-modas-11 cards-modas-12";
  row-gap: 70px;
  column-gap: 150px;
  justify-content: center; }

.cards-modas-1 {
  grid-area: cards-modas-1; }

.cards-modas-2 {
  grid-area: cards-modas-2; }

.cards-modas-3 {
  grid-area: cards-modas-3; }

.cards-modas-4 {
  grid-area: cards-modas-4; }

.cards-modas-5 {
  grid-area: cards-modas-5; }

.cards-modas-6 {
  grid-area: cards-modas-6; }

.cards-modas-7 {
  grid-area: cards-modas-7; }

.cards-modas-8 {
  grid-area: cards-modas-8; }

.cards-modas-9 {
  grid-area: cards-modas-9; }

.cards-modas-10 {
  grid-area: cards-modas-10; }

.cards-modas-11 {
  grid-area: cards-modas-11; }

.cards-modas-12 {
  grid-area: cards-modas-12; }

.cardsModas .cardModasImg {
  width: 370px;
  height: 370px; }
  .cardsModas .cardModasImg img {
    width: 100%;
    height: 100%; }

.titulosImagenes {
  font-size: 1.25rem;
  font-weight: 500; }

.detalleCardsExplorar {
  font-size: 1rem;
  font-weight: normal;
  color: #6a6a6a; }

.contenedorCategorias {
  width: 1440px;
  margin: 0 auto;
  margin-top: 65px; }
  .contenedorCategorias article {
    position: relative; }
    .contenedorCategorias article img {
      width: 100%;
      height: auto; }

.tituloEspacios, .tituloEstilos, .tituloMuebles {
  text-align: left;
  margin: 0;
  padding: 1em; }

.contenedorEspacios, .contenedorEstilos, .contenedorMuebles {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 150px;
  justify-content: center;
  margin-bottom: 200px; }

.titulosImagenes {
  font-size: 1.25rem;
  font-weight: 500; }

.fondo-verde-1, .fondo-verde-2, .fondo-verde-3 {
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

.inspiracion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
  margin-top: 30px; }

.cardInspi {
  position: relative;
  width: calc(100%-270px);
  margin: 0 auto 30px auto;
  overflow: hidden; }
  .cardInspi img {
    width: 100%;
    height: auto;
    align-items: center; }

.cardInspiTexto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3C4541;
  padding: 20px;
  text-align: center;
  max-width: 80%; }

.tituloCardsInspi {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: white; }

.detallesInspi {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: white; }

.enlaceDetallesInspi {
  font-size: 1rem;
  font-weight: normal;
  color: white; }
  .enlaceDetallesInspi:hover {
    text-decoration: underline; }

.infoBlog {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 87px 135px 63px 135px; }

.contenedorBlog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 60px; }

.card-blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #3C4541;
  width: 570px;
  height: 500px; }
  .card-blog img {
    width: 270px;
    height: 500px; }

.card-blog-texto {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .card-blog-texto h5 {
    margin: 10px 0;
    text-align: right; }
  .card-blog-texto h4 {
    margin: 10px 0;
    text-align: right; }
  .card-blog-texto p {
    margin: 10px 0;
    text-align: right; }

.tituloCardsBlog {
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff; }

.detalleCardsBlog {
  font-size: 1rem;
  font-weight: normal;
  color: #ffffff; }

footer .container-fluid {
  background-color: #3C4541;
  padding: 20px 120px;
  width: 100%; }

.col-xs-12.col-md-6.col-lg-3 {
  text-align: left; }
  .col-xs-12.col-md-6.col-lg-3 p {
    padding-left: 32px;
    padding-bottom: 20px;
    font-weight: 500; }
  .col-xs-12.col-md-6.col-lg-3 ul li {
    padding: 5px 0; }

.textoFooter {
  font-size: .875rem;
  font-weight: 500;
  color: #adadad;
  margin-bottom: 5px;
  text-decoration: none; }
  .textoFooter:hover {
    color: white; }

.iconoLocalizacion {
  width: auto;
  height: auto;
  padding: 5px; }

.iconoTelefono {
  width: auto;
  height: auto;
  padding: 5px; }

.iconoMail {
  width: auto;
  height: auto;
  padding: 5px; }

.footerBottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #828684;
  padding-top: 10px;
  width: 100%; }

.miniInfo {
  font-size: .75rem;
  color: #828684; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0; }
  nav ul {
    display: flex;
    gap: 90px; }

.navbar-toggler {
  border: none; }

.navbar-toggler-icon {
  width: 2.3rem;
  height: 2.3rem; }

.container-fluid {
  padding: 0 135px;
  align-items: center;
  background-color: white; }

.nav-item {
  letter-spacing: 6px;
  font-size: .875rem; }
  .nav-item:hover {
    border-bottom: 1px solid black;
    border-top: 1px solid black; }

.nav-item-active {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-decoration: none;
  letter-spacing: .375rem;
  font-size: .875rem; }

.nav-link.mx-lg-2 {
  color: #000000; }

.offcanvas.offcanvas-end.show {
  background-color: #3C4541;
  padding: 40px; }

.barraBuscar {
  width: 20rem;
  margin-left: auto;
  margin-right: 135px;
  margin-top: -80px;
  position: relative; }
  .barraBuscar img {
    position: absolute;
    top: 0;
    right: -40px;
    width: 20px; }
  .barraBuscar input {
    all: unset;
    border-bottom: 1px solid #333333;
    font-size: 1.0625rem;
    width: 367px; }

@media (max-width: 1024px) {
  .contenedorBlog {
    gap: 15px;
    margin-bottom: 40px;
    padding: 10px; }
  .card-blog {
    width: 360px;
    height: 280px;
    grid-template-columns: 130px 230px; }
  .card-blog img {
    width: 130px;
    height: 280px; }
  .card-blog-texto {
    padding: 15px;
    width: 230px;
    height: auto; }
  .tituloCardsBlog {
    font-size: .875rem;
    font-weight: 400px; }
  .detalleCardsBlog {
    font-size: .75rem; }
  .card-blog-texto h5 {
    font-size: .5625rem; }
  .card-blog-texto h5 {
    margin: 4px; }
  .card-blog-texto h4 {
    margin: 4px; }
  .card-blog-texto p {
    margin: 4px; }
  .infoBlog {
    font-size: 1rem;
    margin: 90px 20px; } }

@media (max-width: 768px) {
  .contenedorBlog {
    grid-template-columns: 1fr; }
  .card-blog {
    width: 648px;
    height: 282px;
    grid-template-columns: 337px 311px; }
  .card-blog img {
    width: 337px;
    height: 282px;
    object-fit: cover; }
  .card-blog-texto {
    padding: 30px;
    width: 311px;
    height: 282px; }
  .tituloCardsBlog {
    font-size: .875rem;
    font-weight: 400px; }
  .detalleCardsBlog {
    font-size: .75rem; }
  .card-blog-texto h5 {
    font-size: .625rem; }
  .card-blog-texto h5 {
    padding: 7px;
    margin: 5px; }
  .card-blog-texto h4 {
    padding: 7px;
    margin: 5px; }
  .card-blog-texto p {
    padding: 7px;
    margin: 5px; }
  .infoBlog {
    font-size: 1rem;
    margin: 90px 20px; } }

@media (max-width: 500px) {
  .card-blog {
    width: 364px;
    height: 318px;
    grid-template-columns: 172px 192px; }
  .card-blog img {
    width: 172px;
    height: 318px;
    object-fit: cover; }
  .card-blog-texto {
    padding: 10px;
    width: 192px;
    height: 318px; }
  .tituloCardsBlog {
    font-size: .75rem;
    font-weight: 400px; }
  .infoBlog {
    font-size: .75rem; }
  h3 {
    font-size: .875rem;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px; }
  footer .container-fluid {
    padding: 0px 10px; }
  .col-xs-12.col-md-6.col-lg-3 {
    text-align: left; }
  .col-xs-12.col-md-6.col-lg-3 p {
    padding-left: 20px;
    padding-bottom: 3px;
    font-size: .75rem; }
  .col-xs-12.col-md-6.col-lg-3 ul li {
    padding: 2px 0; }
  .logofooter {
    padding-bottom: 10px;
    padding-left: 20px; }
  .textoFooter {
    font-size: .625rem; }
  .miniInfo {
    font-size: .5rem; } }
