body{
    main{
        .h1{
            font-size: 6.25rem;
            font-weight: 700;
            color: #BED3CA;
            margin-left: 135px;
            margin-top: 40px;
        }
    }
}


h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 135px;
    margin-bottom: 20px;
    margin-top: 90px;
}

h5{
    font-size: .8125rem;
    font-weight: normal;
    letter-spacing: 2px;
    color: #BED3CA;
}